* 
{
	font-family : 'Times New Roman';
}

section, article, header, .img {
	top : 0px;
	left : 0px;
	right : 0px;
}

.img, .addition {
	text-align : center;
}

.addition:last-child
{
	text-align : left;
}

.addition
{
	font-style : italic;
}

code.addition
{
	font-style : normal;
}

header + p {
	line-height : 2;
	margin-top : -18pt;
}

code {
	display : block;
}

var {
	color : #008;
	font-style : normal;
}

code, var {
	font-family : 'Courier New';
}

.digit {
	color : #080;
}

.red
{
	color : #800;
}

h1
{
	font-size : 12pt;
}

.addition .red, .addition .digit
{
	font-style : normal;
}