body
{
    font-family : "Calibri";
    font-size : 12pt;
    padding : 0px;
    margin : 0px;
}

body > header, 
main, 
body > footer
{
    position : relative;
    display : block;
    left : 0px;
    right : 0px;
    margin : 0px;
    padding : 0px;
}

body > header
{
    top : 0px;
    background-image : url("logo.png");
    background-repeat : no-repeat no-repeat;    
}

body > footer
{
    padding : 0px;
    bottom : 0px;
    background-image : url("footer.png");
    font-style : 12pt;
}

.footer_content
{
    position : relative; 
    display : block;
    padding : 12pt;
    left : 0px;
    right : 0px;
    top : 0px;
    background-color : rgba(64, 96, 127, 0.9);
}

/* Head */

.logo
{
    display : block;
    width : 100%;
    height : 50px;
    margin : 0px;
    padding : 0px;
}

nav
{
    margin : 0px;
    padding : 0px;
    background-color : rgba(64, 96, 127, 0.9);
    font-size : 20pt;
    color : #fff;
}

nav li img
{
    height : 20pt;
}

nav li
{
    display : inline-block;
    padding : 10px;
}

.menu
{
    display : inline;
    padding : 0px;
    margin : 0px;
}

.menu li:last-child
{
    border-right : none;
}

.menu li:first-child
{
    background-color : rgba(255, 255, 255, 0.5);
}

.menu li:hover
{
    background-color : rgba(32, 128, 92, 0.7);
}

nav .menu a
{
    color : #fff;
    text-decoration : none;
}

nav .menu a:hover
{
    text-decoration : underline;
}

.submenu 
{
    display : inline;
    float : right;
    padding : 0px;
    margin : 0px;
}

.submenu li:hover
{
    background-color : rgba(255, 255, 255, 0.7);
}

.search
{
    display : inline-block;
    width : 300px;
    float : right;
    padding : 5px;
}


/*Content*/
.block
{
    display : block;
    clear : both;
    margin : 0px;
    padding : 3%;
    left : 0px;
    right : 0px;
}

.block > *
{
    display : inline-block;
    float : left;
    width : 32%;
    margin-left : 2%;
    margin-top : 2%;
}

.block > *:first-child
{
    position : relative;
    display : block;
    clear : both;
    left : 0px;
    right : 0px;
    width : 100%;
    padding : 10px;
    font-size : 16pt;
}

.block > *:first-child + *
{
    display : inline-block;
    margin-left : 0px;
}

.block .book
{
    background-color : rgba(124, 64, 92, 0.7);
    font-size : 12pt;
    padding : 12pt;
}

.book .img
{
    display : inline-block;
    width : 30%;
    height : 100%;
    float : left;
    padding-right : 5%;
}

.book img
{
    max-width : 100%;
}

.book header
{
    font-size : 16pt;
}



@media handheld {
    
header
{
	position : absolute;
    
}


}

@media tv {

main-menu {
	margin:113px 0 0 0;
	float:right;
}
.main-menu ul {
	margin:0;
}
.main-menu li ul {
	padding-top:2px;
	left:-2px;
}
.main-menu li ul li {
	box-shadow:2px 2px 2px 0px rgba(0,0,0,0.1);
}
.main-menu li {
	white-space:nowrap;
	display:block;
	position:relative;
	margin:0;
	padding:0;
	z-index:100;
}
.main-menu a {
	display:block;
	position:relative;
	font-size:14px;
	font-family:"Helvetica neue", Arial, sans-serif;
	color:#f9f4e1;
	font-weight:bold;
}
.main-menu a:hover {
	text-decoration:none;
	color:#d8c0a8;
}
.main-menu li.submenu > a {
	padding-right:20px;
	background:url(../images/menu_down_arrow.png) no-repeat right;
	cursor:default;
}
.main-menu > ul > li {
	float:left;
	margin-right:28px;
}
.main-menu > ul > li:last-child {
	margin-right:0;
}
.main-menu li ul {
	display:none;
	position:absolute;
	top:100%;
	z-index:100;
}
.main-menu li:hover > ul {
	display:block;
}
.main-menu li ul li.submenu > a {
	padding-right:10px;
	background:#403830 url(../images/submenu_left_arrow.png) no-repeat right;
}
.main-menu li ul li.submenu > a:hover {
	padding-right:10px;
	background:#f5f5f5 url(../images/submenu_left_arrow.png) no-repeat right;
}
.main-menu li ul li {
	border-bottom:1px solid #534a42;
	background:#FFF;
}
.main-menu li ul li a:hover {
	background:#f5f5f5;
	color:#d43a32;
}
.main-menu li ul li:last-child {
	border-bottom:1px solid #2e2823;
}
.main-menu li ul li a {
	padding:0 25px 0 12px;
	line-height:33px;
	background:#403830;
}
.main-menu li ul li ul {
	top:-1px !important;
	left:100% !important;
	padding:0 !important;
}


}